{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<!-- contact banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 mt-5">
            <div class="banner-info-grid mt-5">
                <h2 class="w3l-title-breadcrumb">Password Reset Done Page</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'index' %}">Account</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span>Password Reset Changed</li>
            </ul>
        </div>
    </div>
  </section>
  <!-- //contact banner -->
    <h1 class='text-center mt-5 py-2'>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class='text-center'>{% blocktrans %}We have sent you an e-mail. Please <a href="#">Contact</a> us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}
