{% extends "openid/base.html" %}

{% load i18n %}

{% block head_title %}OpenID Sign In{% endblock %}

{% block content %}
<!-- contact banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 mt-5">
            <div class="banner-info-grid mt-5">
                <h2 class="w3l-title-breadcrumb">Login Page</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'index' %}">Account</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span>login</li>
            </ul>
        </div>
    </div>
  </section>
  <!-- //contact banner -->

<h1>{% trans 'OpenID Sign In' %}</h1>


<form id="openid_login_form" class="openid_login" method="post" action="{% url 'openid_login' %}">
{% csrf_token %}
{{form.as_p}}
<button type="submit">Sign In</button>
</form>

{% endblock %}
